body{
  background-color:plum;
  padding:80px;
}

.content{
  border:4px solid white;
  border-radius: 15px;
  max-width: 60vw;
  min-width: 850px ;
  height:80vh;
  margin:auto;
  background-color:rgb(247, 230, 250);
}

header{
  background-color:mediumorchid;
  border-radius: 10px;
  margin:0;
  height: 80px;
  padding:10px;
  display: flex;
  flex-direction: column;
}

h1{
  width: fit-content;
  margin:auto;
}

header button{
  width: fit-content;
  margin:auto;
  font-size: 1rem;
  font-weight: 600;
  background-color: deeppink;
  padding:0.5rem;
  border-radius: 1rem;
  border:none;
  box-shadow: 0 0 6.5px black;
}

dialog{
  height:fit-content;
  background-color:mediumorchid ;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 8px black;
}

form{
  display:flex;
  flex-direction: column;
}

label{
  font-size: 1.2rem;
  font-weight: 600;
  display:block;
  text-align: center;
}

input{
  outline:1px solid hotpink;
  border-radius: 4px;
  border:none;
  font-size: 1.2rem;
  margin: 4px;
}

#read {
  outline:none;
  width: 1.2rem;
  height:1.2rem;
  margin:auto;
  accent-color: hotpink;
}

/* Normal state */
.add-btn {
  width: 70px;
  padding: 0.5rem;
  margin: auto;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  background-color: deeppink;
  box-shadow: 0.5px 0.5px 4px black;
  transition: background-color 0.1s, transform 0.1s;
}

/* Hover state */
.add-btn:hover {
  background-color: pink;
  transform: scale(1.05);
}

/* Clicked state (active) */
.add-btn:active {
  background-color: hotpink;
  transform: scale(0.95);
}

.shelf{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  height:100%;
}

.book{
  background-color:deeppink;
  color: pink;
  padding:0.5rem;
  border-left:1rem solid #6c1199;
  border-top-right-radius: 8px;
  border-bottom-right-radius:8px;
  width: 120px;
  height: fit-content;
  margin:20px;
  box-shadow: 1px 1px 6px grey;
}

.book-btns{
  width:fit-content;
  margin-left: auto;
}

.fa-regular{
  color:#6c1199;
}

.fa-regular:hover{
  color: pink;
}

.fa-regular:active{
  color: black;
}